In [ ]:
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
import csv

In [ ]:
consumerKey = 'yyyyy'
consumerSecret = 'yyyyyy'
accessToken = '--------------------------------------------------'
accessTokenSecret = '---------------------------------------------'

In [ ]:
authenticate = tweepy.OAuthHandler(consumerKey, consumerSecret)
api = tweepy.API(authenticate, wait_on_rate_limit= True)

# Username base tweets collection

In [ ]:
# Extracting tweets from the twitter user
account = "username"
num = 10 # total number of tweets
posts = api.user_timeline(screen_name = account, count=num, lang= "en" 
                          ,tweet_mode = "extended")
print("Show the ",num," recent tweets \n")  
i=1
for tweet in posts[0:num]:
  print(str(i) + ') '+ tweet.full_text + '\n')
  i+=1

Show the  10  recent tweets

1) @elonmusk I wish I join twitter as a developer with @elonmusk in the twitter company

# keyword base tweets collection

In [ ]:
search_words = "tesla"
date_since = "2022-01-16"
until_date = "2022-05-27"


csvFile = open('result.csv', 'a',encoding='utf-8')
csvWriter = csv.writer(csvFile)

tweets = tweepy.Cursor(api.search,
              q="Hello,
              lang="en",
              since=date_since,
              until = until_date,).items(5)
csvWriter.writerow(['tweet_id',"screen_name","created_at", "tweet_text"])
for tweet in tweets:
    print(tweet.id, '   ',tweet.user.screen_name,'  ', tweet.text)
    csvWriter.writerow([tweet.id,tweet.user.screen_name,tweet.created_at, tweet.text.encode('utf-8')])

csvFile.close()

1529975651813322752     Syedkhurram007    RT @_doctorspeaks_: This is how they use to spread fake news and they illiterate patwari start spreading these post like their very own Dut…
1529975646906114048     Fizabat20543164    RT @itsRHHK: Once a liar always a liar.
I remember Asad umar ridiculed her in live show when she wanted to paint Asad responsible for wrong…
1529975627423666182     justm2015    RT @Bisma4PK: The only solution of the current political instability in Pakistan...
#آرہاہے_الیکشن
Because we reject imported govt
#امپورٹڈ…
1529975617583984640     Al3za4    @mustafaaleem You can expect anything from these hooligans.

#حقیقی_آزادی_مارچ
#امپورٹڈ_حکومت_نامنظور
1529975602446585958     justm2015    RT @MaarKho25851711: Another shamefull act by imported government.
#حقیقی_آزادی_مارچ
#امپورٹڈ_حکومت_نامنظور https://t.co/OxmtbeBbps

In [ ]:
real_data = pd.read_csv('/content/result.csv',encoding='utf-8')

real_data.head()

,tweet_id,screen_name,created_at,tweet_text
0,1529975651813322752,Syedkhurram007,2022-05-26 23:59:55,b'RT @_doctorspeaks_: This is how they use to ...
1,1529975646906114048,Fizabat20543164,2022-05-26 23:59:54,b'RT @itsRHHK: Once a liar always a liar.\nI r...
2,1529975627423666182,justm2015,2022-05-26 23:59:49,b'RT @Bisma4PK: The only solution of the curre...
3,1529975617583984640,Al3za4,2022-05-26 23:59:47,b'@mustafaaleem You can expect anything from t...
4,1529975602446585958,justm2015,2022-05-26 23:59:43,b'RT @MaarKho25851711: Another shamefull act b...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
import csv

In [ ]:
consumerKey = 'EyIcs34jy9D6nuQ3GfbW02hJE'
consumerSecret = 'EJi7iWRAK1bzWltOKDsibc7TZy3nVogttapYPWQRdVVOG9d9X7'
accessToken = '--------------------------------------------------'
accessTokenSecret = '---------------------------------------------'

In [ ]:
authenticate = tweepy.OAuthHandler(consumerKey, consumerSecret)
api = tweepy.API(authenticate, wait_on_rate_limit= True)

# Username base tweets collection

In [ ]:
# Extracting tweets from the twitter user
account = "bacha1255"
num = 10 # total number of tweets
posts = api.user_timeline(screen_name = account, count=num, lang= "en" 
                          ,tweet_mode = "extended")
print("Show the ",num," recent tweets \n")  
i=1
for tweet in posts[0:num]:
  print(str(i) + ') '+ tweet.full_text + '\n')
  i+=1

Show the  10  recent tweets

1) @elonmusk I wish I join twitter as a developer with @elonmusk in the twitter company

In [ ]:
pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.1 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

# keyword base tweets collection

In [ ]:
search_words = "tesla"
date_since = "2016-01-16"
until_date = "2022-05-29"
import xlsxwriter
row = 1
col = 0

workbook = xlsxwriter.Workbook('Sentiment_Analysis_dataset.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write(row, col, "tweet_id")
worksheet.write(row, col+1, "tweet_user_screen_name")
worksheet.write(row, col + 2, "tweet_created")
worksheet.write(row, col + 3, "tweet_text")

# csvFile = open('result.csv', 'a',encoding='utf-8')
# csvWriter = csv.writer(csvFile)
#csvWriter.writerow(['tweet_id',"screen_name","created_at", "tweet_text"])

# keyword = ["씨발","개새끼","지랄","빈대새끼","미친놈","좆됐어","병신","닥쳐","꼰대","급식충","Fuck!","Fuck","motherfuck","fucking","pussy","ass","dickhole","choos","lun","danda","noonoo","Bhadwe","chode"]
keyword = ["Fuck","bitch","bullshit","dick","Crazy","Rubbish","asshole","Shut up","Bastard","piss", "ugly", "stupid","motherfucker"]


for i in range(1):
  print(keyword[i])
  tweets = tweepy.Cursor(api.search,
              q=keyword[i],
              lang="en",
              since=date_since,
              until = until_date,).items(5)
  for tweet in tweets:
    print(tweet.id, '   ',tweet.user.screen_name,'  ', tweet.text)
    #csvWriter.writerow([tweet.id,tweet.user.screen_name,tweet.created_at, tweet.text.encode('utf-8')])
    worksheet.write(row, col, tweet.id)
    worksheet.write(row, col+1, tweet.user.screen_name)
    worksheet.write(row, col + 2, tweet.created_at)
    worksheet.write(row, col + 3, tweet.text)
    row += 1



workbook.close()
#csvFile.close()

Fuck

In [ ]:
real_data = pd.read_csv('/content/result.csv', encoding='utf-8')

real_data

,tweet_id,screen_name,created_at,tweet_text
0,1530074519523983361,deerhive,2022-05-27 06:32:47,b'@baklatheworld Short for \xec\x94\xa8\xeb\xb...
1,1529942532339437568,seungcheoIIie,2022-05-26 21:48:19,b'about to do a korean oral exam feeling sick ...
2,1529842287638851590,Maharan69605312,2022-05-26 15:09:59,"b'i get the habit thingy, not with the discipl..."
3,1529828344434655238,exo_americano,2022-05-26 14:14:34,b'RT @Jongjongin1401: All the comments under k...
4,1529827590327848960,514LMH2,2022-05-26 14:11:35,b'finally i hear shownu saying \xec\x94\xa8\xe...

In [ ]:
workbook = xlsxwriter.Workbook('hellooooooooooooo.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write(1,0, '씨발..')
worksheet.write(1,1, '빈대새끼')
worksheet.write(1,2, 'For')
worksheet.write(2,0, '씨발..')
worksheet.write(2,1, '빈대새끼')
worksheet.write(2,2, 'For')
workbook.close()